@tailwind base;
@tailwind components;
@tailwind utilities;

/* #partners .slick-slide > div {
  margin: 0 10px;
}
#partners .slick-list {
  margin: 0 -10px;
} */

.markdown strong {
  font-weight: 600;
}

.markdown li {
  list-style: disc;
  list-style-position: inside;
}